# User Defined
LOCAL.md
local_util_resources/

# Byte-compiled / optimized
__pycache__/
*.py[cod]

# Packaging artifacts
build/
dist/
wheels/
*.egg-info/

# Test / coverage
.pytest_cache/
.hypothesis/
.coverage
.coverage.*
htmlcov/
coverage.xml

# Type checkers and linters
.mypy_cache/
.ruff_cache/
.import_linter_cache/

# Environments
.env
.venv/
venv/
env/

# Editors and IDEs
.vscode/
.idea/
.history/

# Operating system junk
.DS_Store
Thumbs.db
Desktop.ini
